@model SocrataSodaNet.ViewModels.HomeViewModel
@using PagedList.Mvc;

<div class="row">
    <div class="col-md-12">
        <h2>@Model.Content.Headline</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @Html.Raw(@Model.Content.Bodycontent)
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            <p>
                Filter Name: @Html.TextBox("SearchQuery", Model.CurrentFilter as string)
                <input type="submit" value="Search" />
            </p>
        }
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <hr class="compact" />
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>
                        @Html.ActionLink("Legal Name", "Index", new { SortOrder = Model.NameSortParm, CurrentFilter = Model.CurrentFilter })
                    </th>
                    <th>
                        @Html.ActionLink("DBA", "Index", new { SortOrder = Model.DBASortParm, CurrentFilter = Model.CurrentFilter })
                    </th>
                    <th>
                        City
                    </th>
                    <th>
                        State
                    </th>
                    <th>
                        @Html.ActionLink("Zip", "Index", new { SortOrder = Model.ZipSortParm, CurrentFilter = Model.CurrentFilter })
                    </th>
                    <th>
                        @Html.ActionLink("Issued", "Index", new { SortOrder = Model.IssuedSortParm, CurrentFilter = Model.CurrentFilter })
                    </th>
                    <th>Map</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.BusinessLocations)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LegalName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DBA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Zip_Code)
                    </td>
                    <td>
                        @String.Format("{0:MM/dd/yyyy}", item.IssuedOn)
                    </td>
                    <td>
                        @if (item.Latitude != null) 
                        { 
                            <a href="https://google.com/maps/place/@item.Latitude,@item.Longitude" target="_blank"><span class="glyphicon glyphicon-globe"></span></a>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table> 
        
        <br />
        Page @(Model.BusinessLocations.PageCount < Model.BusinessLocations.PageNumber ? 0 : Model.BusinessLocations.PageNumber) of @Model.BusinessLocations.PageCount

        @Html.PagedListPager(Model.BusinessLocations, CurrentPage => Url.Action("Index", new { CurrentPage, SortOrder = ViewBag.CurrentSort, CurrentFilter = ViewBag.CurrentFilter }))
           
    </div>
</div>